<div class="selected">
  <h1 class="selected__title">List 1</h1>
  <ul class="selected__list">
    <li class="selected__task">
      <div class="task">
        <input type="checkbox" name="" id="" class="task__checkbox">
        <span class="task__name">Task name</span>
        <svg class="task__fav">
          <use xlink:href="assets/images/sprite.svg#icon-star-full"></use>
        </svg>
      </div>
    </li>
    <li class="selected__task">
      <div class="task">
        <input type="checkbox" name="" id="" class="task__checkbox">
        <span class="task__name">Task name</span>
        <svg class="task__fav">
          <use xlink:href="assets/images/sprite.svg#icon-star-full"></use>
        </svg>
      </div>
    </li>
    <li class="selected__task">
      <div class="task">
        <input type="checkbox" name="" id="" class="task__checkbox">
        <span class="task__name">Task name</span>
        <svg class="task__fav">
          <use xlink:href="assets/images/sprite.svg#icon-star-full"></use>
        </svg>
      </div>
    </li>
  </ul>
</div>
