:root {
  --primary: #2d8fd5;
  --primary-light: #5aa7de;
  --primary-dark: #153dc4;

  --secondary: #f3a41a;
  --secondary-light: #ebb558;
  --secondary-dark: #f1a61c;

  --grey-light-1: #eceeef;
  --grey-light-2: #dee1e3;
  --grey-light-3: #cfd3d7;
  --grey-light-4: #bfc5c9;

  --grey-dark-1: #374047;
  --grey-dark-2: #606e79;
  --grey-dark-3: #7f8b93;

  --white: #fff;
  --black: #000;
  --red: #df5f6a;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
}
