<div class="navbar">
  <img src="assets/images/logo.png" alt="logo" class="logo">

  <nav class="user-nav">
    <div class="user-nav__item" routerLink='/'>
      <svg class="user-nav__icon">
        <use xlink:href="assets/images/sprite.svg#icon-home"></use>
      </svg>
      <span class="user-nav__notification">7</span>
    </div>
    <div class="user-nav__item" routerLink='/tasks'>
      <svg class="user-nav__icon">
        <use xlink:href="assets/images/sprite.svg#icon-star-full"></use>
      </svg>
      <span class="user-nav__notification">13</span>
    </div>
    <div class="user-nav__item" (click)="logout()">
      <svg class="user-nav__icon">
        <use xlink:href="assets/images/sprite.svg#icon-exit"></use>
      </svg>
    </div>
    <div class="user-nav__user" routerLink='/login'>
      <img src="assets/images/SVG/user.svg" alt="profile's picture" class="user-nav__user-photo">
      <span class="user-nav__user-name">John</span>
    </div>
  </nav>
</div>
